DATABASE_URL=postgresql://...pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://...pooler.supabase.com:5432/postgres
PORT=port_number
NODE_ENV=your_app_environment
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=expire_time
UPSTASH_REDIS_URL=rediss://default:xxxxx@xxxxx.upstash.io:6379
BREVO_API_KEY=your_brevo_api_key
EMAIL_FROM=GovernanceFund <your_verified_sender@gmail.com>
FRONTEND_URL=your_frontend_url
ALCHEMY_BASE_SEPOLIA_RPC_URL=https://base-sepolia.g.alchemy.com/v2/<API_KEY>
ALCHEMY_WEBHOOK_SECRET=your_alchemy_webhook_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
PINATA_JWT=your_pinata_jwt
PINATA_GATEWAY=your_pinata_gateway
TURNSTILE_SECRET_KEY=your_turnstile_key
SENTRY_DSN=your_sentry_dsn_optional
ENABLE_WORKERS=true
LOG_LEVEL=info